.table th,td{
    text-align: center;
    vertical-align: middle !important;
}
.addAcount{
    width: 1230px;
    padding: 10px;
    /*border: 1px solid red;*/
}
.addAcount .row{
    margin-top: 20px;
}
.addAcount .row .col-sm-2{
    text-align: right;
    font-size: 18px;
    color: grey;
}
/*.addAcount input[type='checkbox']{*/
/*height: 40px;*/
/*width: 40px;*/
/*border-radius: 3%;*/
/*color: white;*/
/*background: white;*/
/*}*/
/*.addAcount .checkboxRole{*/
/*font-size: 16px;*/